<% layout("/layouts/boilerplate") %>

  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-10 offset-2">
          <h3>
            <%= listing.title %>
          </h3>
          <div class="card w-50 mt-2">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image"
              style="height: 25rem; width: 50%;" />
          </div>
          <div class="mt-4 mb-3">
            <div class="card text-dark rounded-1 bg-light mb-3" style="max-width: 50%;">
              <div class="card-body p-4">
                <h5 class="card-title">Owned by : <%= listing.owner.username %>
                </h5>
                <p class="card-text">
                  <%= listing.description %>
                </p>
                <p class="card-text">
                  <%= listing.location %>
                </p>
                <p class="card-text">&#8377; <%= listing.price.toLocaleString('en-IN') %>
                </p>
                <p class="card-text">
                  <%= listing.country %>
                </p>
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% if(locals.currUser && locals.currUser._id.equals(listing.owner._id)) { %>
          <div class="col-2 offset-2">
            <div class="mt-4 mb-4">
              <a class="btn btn-primary" href="/listings/<%= listing._id %>/edit">Edit Listing</a>
            </div>
          </div>
          <div class="col-2">
            <div class="mt-4 mb-4">
              <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete Listing</button>
              </form>
            </div>
          </div>
          <% } %>
      </div>
    </div>

    <div class="row p-3 mb-auto">
      <% if(locals.currUser) { %>
        <div class="col-8 offset-2 mb-md-3">
          <h4>Leave a Review</h4>
          <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">

             <label class="fw-bolder fs-5" for="rating">Rating</label>
           <div>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="0" checked
                aria-label="No rating." />
              <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>

            <div>
              <label for="form-label">Comments</label>
              <textarea name="reviews[comment]" class="form-control" id="comment" cols="20" rows="20"
                required></textarea>
              <div class="invalid-feedback">Please add some message</div>
            </div>
            <button type="submit" class="btn mt-3 btn-secondary"> Submit</button>
          </form>
        </div>
        <% } %>
    </div>

    <% if (listing.reviews.length > 0) { %>
    <h4 class="mt-4 mb-4">Reviews</h4>
    <hr>
    <div class="row g-3">
      <% for (let review of listing.reviews) { %>
        <div class="col-12 col-md-4">
          <div class="card shadow-sm border-0 p-3 h-100">
            <div class="card-body">

              <h6 class="fw-bold">
                <%= review.author.username %>
              </h6>

              <p class="starability-result" data-rating="<%= review.rating %>">
              </p>

              <p class="mb-2">
                <%= review.comment %>
              </p>

              <small class="text-muted">
                <%= new Date(review.createdAt).toLocaleDateString() %>
              </small>
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                <button class="btn mt-2 btn-dark btn-sm">Delete</button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <% } %>

    <div class="row">
      <div class="col-8 offset-2 mt-5 mb-5 me-lg-2">
        <div class="fw-bolder mb-3">You are here</div>
        <div id="map"></div>
      </div>
    </div>

    
  </body>
  <script src="/js/map.js"></script>